.experience__container{
  height: 100%;
  width: 100%;
}

.experience__section-title {
  color: #143642;
  padding: 2rem 0 3rem 0;
  text-align: center;
}

.experience-list {
  display: flex;
  justify-content: center;
}

.experience__card {
  flex: 1;
}

.experience__title {
  color: #143642;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.experience__description {
  padding: 0 2.7rem 2rem;
}

.experience__image {
  max-width: 100%;
  margin: auto;
  padding: 0 1rem 3rem;
}


@media only screen and (min-width:770px) {
  .experience-list__container {
    display: flex;
  }

  .experience__card {
    flex: 0;
  }

  .experience-list {
    flex-direction: column;
    flex: 1 1 40%;
  }

  .selected-experience {
    flex: 1 1 60%;
    padding-right: 2rem;
  }
}