.project-container {
  height: 100%;
  background: #00a7e1;
  color: white;
}

.project__main-title {
  padding: 2rem 0 3rem 0;
  text-align: center;
}

.project__title {
  color: #143642;
  text-align: center;
  padding-bottom: 1rem;
}

.project__description {
  padding: 0 2.7rem 2rem;
  text-align: justify;
}

.project__image {
  max-width: 80%;
  margin: auto;
  padding: 0 0 3rem;
}
